/* 
    -- Table of Content --

    * 01 - Global CSS
    * 02 - Responsive Sidebar Menu
    * 03 - Global Color
    * 04 - Header
    * 05 - Section Header
    * 06 - Left Sidebar
    * 07 - Hero Section
    * 08 - Home 3
    * 09 - Home 5
    * 10 - About
    * 11 - Resume
    * 12 - Services
    * 13 - Skills
    * 14 - Portfolio
    * 15 - Testimonial
    * 16 - Client
    * 17 - Pricing Table
    * 18 - Contact
    * 19 - Breadcrumb
    * 20 - Blog items
    * 21 - Blog Style 2
    * 22 - Blog Details
    * 23 - Comment
    * 24 - Comment Form
    * 25 - Footer
    * @page Loader
    * @Keyframe

*/
/*--------------------------
Global CSS 
---------------------------*/
:root {
    --primary_color: #FFD26D;
    --text_white: #ffffff;
    --text-color: #070707;
    --primary_bg: #070707;
    --secundary_bg: #D99C10;
    --bg_none: transparent;

}
*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--text_white);
    background: var(--primary_bg);
    line-height: 25px;
}
.bg-white {
    background: #fff;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.text-right {
    text-align: right;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}

.theme-btn {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    padding: 20px 58px 20px 58px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}
.theme-btn-fill{
    background: var(--primary_color);
    color: var(--text-color);
    border-color: var(--primary_color);
}
.theme-btn-fill:hover{
    background: var(--bg_none);
    color: var(--primary_color);
    border-color: var(--primary_color);
}
.theme-btn-dark{
    background: var(--primary_bg);
    color: var(--text_white);
    border-color: var(--primary_bg);
}
.theme-btn-dark:hover{
    background: var(--bg_none);
    color: var(--text_white);
    border-color: var(--text_white);   
}
.theme-btn-outline{
    background: var(--bg_none);
    color: var(--text_white);
    border-color: var(--primary_color);
}
.theme-btn-outline:hover{
    background: var(--primary_color);
    color: var(--text-color);
    border-color: var(--primary_color);
}

.section-title{
    font-weight: 500;
    font-size: 75px;
    line-height: 90px;
    color: var(--text_white);
}

/*--------------------------
@page Loader 
---------------------------*/
.page-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-loader .bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
}
.page-loader .bounceball:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    transform-origin: 50%;
    animation: bounceLoader 500ms alternate infinite ease;
}

/*--------------------------
@Keyframe 
---------------------------*/
@keyframes rotating {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounceLoader {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}